/sstf/target/
/fcfs/target/
/NonprempriveSJF/target/
/PreemptiveSJF/target/
/RoundRobin/target/
/BankersAlgo/target/
/DiningPhilo/nbproject/private/
/LRUpageReplacement/nbproject/private/
/LRUpageReplacement/build/
/LRUpageReplacement/dist/
/FIFOpageReplacement/target/
